/**
 *带面包屑的横向树形导航样式：
 *from: tsingm
 */
.tree-nav{
    margin-top: -20px;
}
.tree-nav span, .breadcrumb > li + li:before{
    float: left;
    color: #666;
}
.tree-nav .breadcrumb{
    margin-bottom: 0;
    padding: 8px 0;
    background-color: #FFFFFF;
}
.tree-nav .tree-main{
    position: relative;
}
.tree-nav .triangle-down {
    width: 12px;
    height: 12px;
    margin-top: 4px;
    margin-left: 4px;
    border:1px solid #bfbfbf;
    border-radius: 2px;
    cursor: pointer;
}
.tree-nav .arrow {
    width:0;
    height:0;
    margin-top: 4px;
    margin-left: 2px;
    border-left:3px solid transparent;
    border-right:3px solid transparent;
    border-top:3px solid #999;
}
.tree-nav a{
    min-height: 20px;
}
.dropdown-menu > li > a:hover{
    background-color: #effafd;
    cursor: pointer;
}
.child-menu{
    top:-7px;
    left: 100%;
}
.tree-nav .have-child{
    position: absolute;
    width:0;
    height:0;
    top: 8px;
    right: 5px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-left:5px solid #ccc;
}